<% content_for :primary_content do %>
  <div class="lg:p-10 pt-10 px-4">
    <h2 class="heading text-4xl text-center font-bold pt-4 mb-8">Edit Menu</h2>

    <%= render 'form', menu: @menu %>
  </div>
<% end %>

<% content_for :secondary_content do %>
  <%= render "application/progress" , menu: @menu %>
<% end %>

<%= render "base_layout" %>
