<% content_for :primary_content do %>
  <div class="lg:p-10 pt-10 px-4 max-w-md">
    <h2 class="heading text-4xl font-bold pt-4 mb-8">Edit Categories</h2>

    <%= render 'categories/form', menu: @menu%>
  </div>
<% end %>

<% content_for :secondary_content do %>
  <%= render "progress", menu: @menu %>
<% end %>

<%= render "base_layout" %>

